@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --content-width: 50rem;
}

main {
  padding-block: 4rem;
  display: grid;
  grid-template-columns:
    [full-start]
    1fr
    [content]
    minmax(0, var(--content-width))
    1fr
    [full-end];
  column-gap: 1rem;

  > * {
    grid-column: content;
  }

  .full {
    grid-column: full;
    display: grid;
    grid-template-columns: inherit;
    row-gap: 3rem;

    > * {
      grid-column: content;
    }

    > ul {
      scroll-snap-type: x mandatory;
      grid-column: full;
      display: flex;
      gap: 1rem;
      overflow-x: auto;
      padding-inline: max(1rem, 50% - var(--content-width) / 2);
      padding-block-end: 1rem;
      scroll-behavior: smooth;

      li {
        scroll-snap-align: center;
        flex-basis: min(400px, 90%);
        flex-shrink: 0;
        background: #ebebeb;
        color: #595566;
        border-radius: 8px;
        font-size: 1rem;
        padding: 2.75rem 2.1875rem;
        align-self: start;

        h3 {
          font-weight: 700;
          font-size: 1.5625rem;
          color: #181818;
          margin-block: 0 0.625rem;
          line-height: 1.125;
        }

        p {
          max-inline-size: 45ch;
        }
      }
    }
  }
}

h2 {
  all: revert;
  font-size: 2.8125rem;
  color: #181818;
  margin-block: 0 0.625rem;
  line-height: 1.125;
}

header {
  color: #595566;

  p {
    max-inline-size: 67ch;
  }
}

/* Valgfrit: scrollbar-styling */
ul::-webkit-scrollbar {
  height: 10px;
}
ul::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
